* {
    margin: 0;
    padding: 0;
   
  }
  
  article {
    
    width: 90%;
    margin: auto;
    margin-top: 12%;
    padding: 20px;
    display: flex;
    gap: 80px;
 
  }
  article .left{
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    /* border: 2px solid green; */

  }
  article .right{
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    /* border: 2px solid green; */
    background-color: rgb(202, 196, 196);

  }
  .right h2{
    color: crimson;
  }
  .right h3, h4{
    caret-color: rgb(197, 195, 195);
  }
  
  .cart_box img {
    width: 100px;
    height: 100px;
  }
  .cart_img {
    display: flex;
    width: 200px;
  }
  
  .cart_img p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    /* color: white; */
    /* background-color: skyblue; */
    /* border-radius: 5px; */
    cursor: pointer;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: darkseagreen;
  }
  .cart_box div:nth-child(3) span {
    /* background-color: lightgreen; */
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: skyblue;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
  }
  .btn-group{
    margin-top: 10px;
  }
  .btn-group button:nth-child(1){
    margin-right: 20px;
    width: 30%;
    padding: 5px 10px;

  }
  .btn-group button:nth-child(2){
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 60%;
    padding: 5px 10px;
    cursor: pointer;
  }
  .no-data{
    margin: auto;
    margin-top: 200px;
    border: 1px solid black;
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 5px;
    
  }
  .no-data h1{
    text-align: center;
  }
  .price-div{
    background-color: white;
    border-radius: 5px;
    padding: 10px;

  }
  .price-div p{
    margin-bottom: 10px;
  }