.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel .thumbs {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
  display: none;
}

.carousel .control-dots .dot{
  background: black;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: -2px 0 !important;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: black !important;
}
.carousel .control-dots .dot{
color: red;
}

  .carousel .control-dots {
    bottom: -13px;
}


.dot{
  background-color: black!important;
   background: black !important; 
   color: black !important; 
 } 

.carousel .control-prev.control-arrow {
  animation: none;
  left: 15px;
  background: none !important;
}